<div class="item-wraper">
	
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Carotte</h5>
  	</div>
  </div>

  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Navet</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Tomates</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Pomme de terre</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Aubergine</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Seleri</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Haricot</h5>
  	</div>
  </div>
  <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	  <div class="card-body">
      <h5 class="card-title">Pomme</h5>
  	</div>
  </div>

</div>