<div class="container">
	
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>

	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://selection.readersdigest.ca/wp-content/uploads/2016/06/vertus_carottes.jpg" alt="Card image cap">
	</div>
</div>